{% extends 'base.html' %}
{% block content %}

<h2>Take advance payments</h2>
<p>Just put an amount next to a HouseMate's name and his advance\
payment will be taken.</p>

<form method="POST" action="/take_advance">
    {% for housemate in housemates %}
        <p>
            <label>{{ housemate }}</label>
            <input type="text" name={{ housemate }} value='0' placeholder="0">
        </p>
    {% endfor %}
    <input type="submit" value="Tada!">
</form>

{% endblock %}
