<!doctype html>

<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/css.css">
    </head>

    <body>
        <header>
            <h1>
                HouseExpense Helper_
            </h1>
        </header>

        <div id="grid-container">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/advance">Take Advance Payments</a></li>
                    <li><a href="/bazar">Scan &amp; Evaluate list of bazar</a></li>
                    <li><a href="/who_are_left">Who Are Left</a></li>
                    <li><a href="/currents">Current Accounts</a></li>
                    <li><a href="#">Last Bazar Items</a></li>
                    <li><a href="#">Config</a></li>
                </ul>
            </nav>

            <div id="content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>
