{% extends 'base.html' %}
{% block content %}

<h2>Scan &amp; evaluate list of Bazar items</h2>
<p>Just put into the text box each bazar item space seperated by
their price on each new line and the right amount will be deducted
from each of its consumer.</p>

<form method="POST" action="/bazar_eval">
    <textarea cols="80" rows="25" name="bazarlist"
                                  placeholder="Like this:
rice 100
daal 200
eggs 50"></textarea>
    <input type="submit">
</form>

{% endblock %}
