{% extends 'base.html' %}
{% block content %}

<h2>List of people and their current account</h2>
<table>
    <tr>
        <th scope="cols">Reserve</th>
        <th scope="cols">Amount Left</th>
    </tr>
    <tr>
        <td>{{ reserve_name }}</td>
        <td>{{ reserve_cash }}</td>
    </tr>
</table>
<table>
    <tr>
        <th scope="cols">Name</th>
        <th scope="cols">Current Cash</th>
    </tr>
    {% for account in the_accounts.values() %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.current_cash }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
