{% extends 'base.html' %}
{% block content %}

<h2>List of people who haven't paid fullly</h2>
<form method="POST" action="/take_advance">
    
    <table>
        <tr>
            <th scope="cols">Name</th>
            <th scope="cols">Amount Due</th>
            <th scope="cols">Pay Due</th>
        </tr>
        {% for person, amt in persons.items() %}
            <tr>
                <td>{{ person }}</td>
                <td>{{ amt }}</td>
                <td>
                    <input type="text" name="{{ person }}" placeholder="Pay full {{ amt }}?">
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Tada!">

</form>

{% endblock %}
